.brandingheader {
    padding-top: 35px;
    font-size: 3em;
    padding-bottom: 20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.helicopterimg {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.maincontainer {
    width: 90%;
    margin: auto;
    overflow: hidden;
    text-align: center;
}

